
release/

node_modules/

builds/docker/mongo/mongoDB/

builds/docker/mysql/mysqlDB/

.idea/

.DS_Store

/src/balek-modules/node-modules

/src/balek-modules/lib/

src/balek-server/etc/cert/

data/

builds/standalone/webroot/

builds/standalone/buildScripts/UNFIPricer/webroot/

builds/standalone/webroot-tabImporter/

builds/standalone/webroot-UNFIPricer/

builds/standalone/webroot-UNFIPackChange/
